---
layout: base
title: Vértes Könyvtár | Kezdőlap
---
<div class="list">
  <div class="box">
    <h1 class="title is-4 mb-2">Játékok</h1>
  {% for wishlist_item in site.wishlist_items %}
      <div class="list-item box">
        <div class="list-item-image">
          <figure class="image is-64x64">
            <img class="" src="{{wishlist_item.url | replace:'.html','.jpg'}}">
          </figure>
        </div>

        <div class="list-item-content">
          <div class="list-item-title">{{ wishlist_item.name }}</div>
          <div class="list-item-description">{{ wishlist_item.content }}</div>
        </div>
      </div>
  {% endfor %}
  <ul>
  {% for tag in page.tags %}
  <li>{{ tag }}</li>
  {% endfor %}
  </ul>
  </div>
</div>